/* GET FONTS */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('./fonts/HelveticaNeueMed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('./fonts/HelveticaNeueLt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* APP COMPONENT */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
nav {
  background-color: #27B7DB;
}

/* SIGN IN COMPONENT */
.sign-in-page {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
}
.sign-in-title {
  width: 250px;
}
.sign-in {
  width: 450px;
}
.papical-logo {
  height: 450px;
  width: 450px;
}