/* GET FONTS */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('./fonts/HelveticaNeueMed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('./fonts/HelveticaNeueLt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* APP COMPONENT */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.sign-up-input::-webkit-input-placeholder {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #4f4f4f
}
.sign-up-input:-ms-input-placeholder {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #4f4f4f
}
.sign-up-input:-moz-placeholder {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #4f4f4f
}
.sign-up-input::-moz-placeholder {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #4f4f4f
}

/* DROPDOWN MENU */
.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  top: 53px;
  left: -128px;
  background-color: #66cce5;
  /* border: 1px solid #27B7DB; */  
  padding: 20px;
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

.menu a {
  text-decoration: none;  
  color: #fff;
  font-size: 14pt;    
  margin-top: 0;
}

a:hover {
  opacity: 0.75;
}

.menu a:not(:last-child) {
  margin-bottom: 10px;
}

/* NAV */
.nav {
  background-color: #27B7DB;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.papical-logo-white {
  max-width: 120px;
}
.left-side {
  flex: 0 0 auto;
  justify-content: flex-start;
}
.right-side {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}
.nav-hollow-btn {
  padding: 10px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  font-size: 14pt;
}
.nav-std-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: #fafafa;
  color: #27B7DB;
  font-weight: 600;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  font-size: 14pt;
}
.nav-hollow-btn.inner {
  border: none;
  margin-right: 10px;
}
.bell {
  width: 35px;
  height: 35px;
  margin-top: 3px;
  margin-right: 40px;
  margin-left: 20px;
}
.profile {
  padding: 0 10px;
  margin-right: 40px;
}

/* SIGN IN COMPONENT */
.sign-in-page {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
}
.sign-in {
  width: 350px;
}
.sign-in-title {
  width: 250px;
  margin-bottom: 35px;
}
.sign-in-tagline {
  color: #4f4f4f;
  font-family: "Helvetica Neue Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 20px; 
  max-width: 400px;
}
.sign-in-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 50px;
  padding-top: 20px;
}
.sign-up-input.main {
  min-width: 250px;  
}
.papical-logo {
  height: 450px;
  width: 450px;
}
input {
  border: 1px solid #fafafa;
  padding: 8px;
  margin-bottom: 20px;
}
.hollow-btn {
  padding: 10px;
  border: 1px solid #27B7DB;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: #27B7DB;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  font-size: 14pt;
}
.std-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: #27B7DB;
  font-weight: 600;
  color: #fafafa;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  font-size: 14pt;
}
.or {
  width: 110px;
  text-align: center;
  padding: 10px;
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #888888;
}

/* SIGN UP COMPONENT */
.sign-up-header {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 38px;
  color: #4f4f4f;
  padding: 25px 0px;
  align-self: flex-start;
}
.sign-up-base {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  max-width: 300px;
  margin: 0 auto;
}
.sign-up-input {
  min-width: 300px;
  border: 1px solid #888888;
  border-radius: 5px;
} 
.std-btn.base {
  align-self: flex-end;
}
.sign-up-one-box, .sign-up-two-box, .sign-up-three-box, .sign-up-four-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85vh;
}
.back-button-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex: 1 auto;
  align-self: flex-start;
  max-width: 30px;
  margin-left: 40px;
  padding-bottom: 70px;
}
.back-button {
  border: none;
}
.sign-up-one, .sign-up-two, .sign-up-three, .sign-up-four {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  min-width: 600px;
  margin: 0 auto;
}
.progress-box {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
  padding-bottom: 40px;
}
.progress {
  border: 2px solid #888888;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}
.progress.filled {
  background-color: #EEB074;
}
.photo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.photo-box {
  align-self: flex-start;
}
.photo-holder {
  border: 1px solid #888888;
  background-color: #ebebeb;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 70px;
}
.photo-upload-label {
  color: #27B7DB;
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 15pt;
  text-decoration: underline;
  width: 100%;
  margin-left: 50px;
}
.photo-upload {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.photo-text {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sign-in-tagline.photo {
  max-width: 300px;
}
.sign-up-btns {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-self: flex-end;
}
.std-btn.base.plus {
  margin-right: 10px;
}
.hollow-btn.plus {
  border: 1px solid #888888;
  color: #888888;
  background-color: #fafafa;
}
.interest-form {
  width: 100%;
}
.progress-box.two {
  padding-right: 0;
}
.sign-up-input.italics {
  font-style: italic;
  margin-bottom: 150px;
  max-width: 350px;
}
.submit-form {
  all: unset;
}
.interests-section {
  display: flex;
  flex-direction: column;
}
.friends-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}
.sign-up-header.four {
  align-self: center;
}
.progress-box.four {
  padding-right: 0;
}
.calendar-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
}
.sign-in-tagline.cal {
  max-width: 600px;
}
#sign-up-calendar-box {
  height: 300px;
  width: 750px;
  margin-bottom: 30px;
}
.sign-up-btns.cal {
  margin-right: -10px;
}

/* SIGN IN COMPONENT */
.sign-up-header.login {
  text-decoration: none;
}
.log-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  max-width: 300px;
  margin: 0 auto;
}

/* DASHBOARD COMPONENT */
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  max-width: 750px;
  margin: 30px auto;
}
.activity {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.activity-header {
  color: #4f4f4f;
  font-family: "Helvetica Neue Medium", Arial, Helvetica, sans-serif;
  font-size: 15pt;
  margin-bottom: 20px; 
  margin-right: 70px;
  display: flex;
  align-self: flex-start;
}
.activity-link {
  color: #27B7DB;
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 15pt;
  text-decoration: underline;
}
.activity-header.two {
  margin-top: 40px;
}
.std-btn.base.dash {
  margin-left: 312px;
}
.hollow-btn.base.dash {
  background-color: #fafafa;
}
#dashboard-calendar-box {
  height: 300px;
  width: 750px;
  margin-top: 30px;
}

/* CALENDAR COMPONENT */
#calendar-box {
  height: 300px;
  width: 800px;
}
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  max-width: 800px;
  margin: 0 auto;
}
.sign-up-header.cal {
  padding-bottom: 0px;
}
.std-btn.base.cal {
  margin-right: 30px;
  margin-bottom: 30px;
}
.hollow-btn.base.cal {
  margin-bottom: 30px;
  background-color: #fafafa;
}
#book-hangout-form, #add-availability-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  max-width: 300px;
  margin: 0 auto;
}
.sign-up-input.time {
  height: 30px;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
}
.cal-input-time {
  color: #4f4f4f;
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  align-self: flex-start;
  padding: 0 0 2px 2px ;
}

/* PROFILE COMPONENT */
.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
}
.sign-up-header.profile {
  align-self: inherit;
  width: 466px;
}
.photo-holder-profile {
  border: 1px solid #888888;
  background-color: #ebebeb;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 70px;
}
.inner-profile {
  display: flex;
  align-items: center;
  max-width: 600px;
}
.basic-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.user-info {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #4f4f4f;
  padding-bottom: 30px;
}
.user-info.border {
  border-bottom: 1px solid #4f4f4f;
}
.interest-header {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #4f4f4f;
  padding-bottom: 20px;
  padding-top: 30px;
}
.interest-list {
  list-style-type: disc;
  margin-left: 30px;
}

/* FRIEND PROFILE COMPONENT */
.friend-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
}
.friend-profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.profile-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sign-up-header.f-profile {
  align-self: inherit;
  width: 750px;
}
#friend-profile-cal-box {
  height: 200px;
  width: 750px;
  margin-top: 30px;
}
.friend-avail {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #4f4f4f;
}
.top-cal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 750px;
}


/* FRIENDS COMPONENT */
.friends-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
}
.friend {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  text-decoration: none;
}
.delete {
  align-self: flex-end;
}
.friends-photo {
  border: 1px solid #888888;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 70px;
}
.friend-name {
  color: #4f4f4f;
  font-family: "Helvetica Neue Medium", Arial, Helvetica, sans-serif;
  font-size: 15pt;

}
.friend-name-link {
}
.friends-box .inner-content {
  /* flex: 0 0 300px; */
  width: 600px;
}
.sign-up-input.italics.friend {
  margin-bottom: 0px;
}
.control-row {
  display: flex;  
  flex-direction: row;
  margin-bottom: 75px;
}
.control-row input {
  margin-right: 10px;
}

/* NOTIFICATION COMPONENT */
.notification-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 66px);
  max-width: 600px;
  margin: 30px auto;
}
.notifications {
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  flex-direction: row;
  min-height: calc(100vh - 66px);
  max-width: 700px;
  margin: 30px auto;
}
.upcoming-hangouts {
  width: 350px;
}
.upcoming-invites {
  width: 350px;
}
.upcoming-header {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #4f4f4f;
  text-decoration: underline;
  font-size: 18pt;
  margin-bottom: 20px;
}
.notif-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.notif-box {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  justify-content: space-between;  
}

.upcoming-hangouts {
  margin-right: 80px;
}

.notif-left {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.notif-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
}
.notif-name {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  color: #4f4f4f;
  font-size: 18pt;
}
.hollow-btn.small {
  font-size: 12pt;
  padding: 5px;
  min-width: 80px;
  margin-bottom: 10px;

}
.notif-friend {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  color: #27B7DB;
  /* text-decoration: underline; */
  font-size: 14pt;
  margin-top: 5px;
}
.notif-dt {
  font-family: 'Helvetica Neue Medium', Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 12pt;
  margin-top: 5px;
}